@font-face {
    font-family: 'UbuntuSans';
    src: url('./assets/UbuntuSans-Regular.ttf');
}

@font-face {
    font-family: 'FjallaOne';
    src: url('./assets/FjallaOne-Regular.ttf');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}



body {
    font-family: 'UbuntuSans';
    background-image: linear-gradient(to bottom right, white, black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .title {
        font-family: 'FjallaOne';
        margin: 20vh 0px 12vh;
        width: 100%;
        font-size: 4rem;
        letter-spacing: 0.3rem;
        font-weight: 700;
        color: white;
        text-align: center;
        vertical-align: auto;

        h3 {
            margin: auto 0px;
        }
    }

    form {
        margin-bottom: 4vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 100px;
        gap: 10px;

        label {
            color: white;
            font-size: 1.4rem;
            letter-spacing: 2px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 2px;
        }

        div {
            width: 200px;
            height: 30px;
            position: relative;

            input {
                height: 100%;
                width: 100%;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 0.4);
                border: none;
                appearance: none;
                outline: none;
                color: white;
                font-size: 1.15rem;
                font-weight: 500;
                padding: 5px 15px;
            }

            input::placeholder {
                color: white;
            }

            button {
                background-color: transparent;
                border: none;
                position: absolute;
                right: 10px;
                padding: 5px 8px;
                height: 100%;
            }
        }



    }

    .weather {
        display: flex;
        backdrop-filter: blur(20px);
        background-color: transparent;
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 30px;
        width: 70vw;
        height: 25vh;

        ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                list-style: none;

                h3 {
                    font-size: 1.5rem;
                    color: white;
                    font-weight: 700;
                    text-align: center;

                    span {
                        font-weight: 200;
                        font-size: 1rem;
                    }
                }

                img,
                svg {
                    margin: 10px 0px;
                    height: 100px;
                    width: auto;
                }

                p {
                    color: white;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }

}